html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
    background-color: #0D0208;
    color: white
}

body {
    display: table-cell;
    vertical-align: middle;
}

button {
    background-color: #008F11; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    transition: 0.3s;
  }


button:hover {
  background-color: #00FF41;
  color: white;
}

div{
    margin: auto;
    text-align: center;
}